[submodule "submodules/doxymatlab.git"]
	path = submodules/doxymatlab.git
	url = https://github.com/simgunz/doxymatlab.git
[submodule "submodules/cil_estimator.git"]
	path = submodules/cil_estimator.git
	url = https://github.com/AndreasRupp/cil_estimator/
